/* CSS Document */

/*
	Products page css
*/


.products {
	display:grid;
	grid-gap: 10px;
	grid-template-columns: 80px 200px auto 40px;
	width: 90%;
	padding: 20px;
	margin: 100px auto;
/*	background: #ddd;*/
}

.column {
	width: 25%;
    margin: 0px 30px;
}

.image {
	background: rgb(245, 242, 242);
	transition: 1s;
	border: #000;
	border-radius: 2%;
}
.image:hover{
	transform: scale(1.05);
	z-index: 2;
	
}

h3 {
	font-size: 14px;
	letter-spacing: initial;
	margin-bottom: 5px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 20px;
}

.price {
	letter-spacing: initial;
	color: rgb(29, 30, 31);
	font-family: Roboto;
	text-align: center;
	margin-top: 10px;
}