/* CSS Document */

/*
	Products page css
*/


.products {
	display: flex;  
  	flex-wrap: wrap;
}

.column {
	width: 22%;
    margin: 15px 15px;
    /* grid-template-columns: 2fr 2fr 2fr 1fr; */

}

.image {
	border: #000;
	background-color: #f2f2f2;
}
.image img:hover{
	transition: 1s;
	transform: scale(1.03);
	z-index: 2;
}

h3 {
	font-size: 14px;
	letter-spacing: initial;
	margin-bottom: 5px;
	color: #000;
	font-family: 'mont_regular';;
	text-align: center;
	margin-top: 20px;
}

.price {
	letter-spacing: initial;
	color: rgb(29, 30, 31);
	font-family: 'mont_regular';;
	text-align: center;
	margin-top: 10px;
}